@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

body{
    width: 70%;
    margin: 0 auto;
}

.body1{

    width: 100%;
    margin: 0 auto;
    padding: 3px;
    display: grid;
    grid-template-columns: 50% 50%;

    grid-gap: 100px;

    grid-template-areas: 
    "header header"
    "section1 section1"
    "section2 section2"
    "section3 section3"
    "section4 section4"
    "footer footer"
    
    
    ;
}




/*----INDEX-----*/

header{
    grid-area: header;
    font-family: 'Archivo', sans-serif;
    background-color: #1d1d1f;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #b2b2b2;
}

header img{
    width: 100px;
}

.navegacion ul{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
 }

 .navegacion ul li{

    padding: 10px;
    border: 1px solid black;
    text-align: center;
    color: #b2b2b2;
    margin: 8px 8px;
 }

.navegacion ul li:hover{
    background-color: #8a8686;
}

nav ul a{
    list-style-type: none;
    text-decoration: none;
}

ul li{
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 8px 8px;
}

.section1{
    grid-area: section1;
}

.section2{
    grid-area: section2;
}

.section3{
    grid-area: section3;
}

.section4{
    grid-area: section4;
}

footer{
    grid-area: footer;
}



.section1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.section2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.section3{
    display: flex;
    flex-direction: column;
}

.section4{
    display: flex;
    flex-direction: column;
}

.oferta1{
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin-bottom: 60px;
}

.oferta1 img{
    width: 250px;
}

.oferta2{
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.oferta3{
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin-bottom: 60px;
}

.oferta4{
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.oferta5{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-bottom: 60px;
}

.oferta6{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-right: 20px;
}

.oferta7{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-bottom: 60px;
}

.oferta8{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-right: 20px;
}

footer{
    font-family: 'Archivo', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1f;
    color: white;
}

footer img{
    width: 100px;
}

footer .box-footer h2{
    margin-bottom: 20px;
    margin-left: 40px;
 }

.logos{
    width: 67px;
 }

.oferta1-ip{
    display: none;
}



.section9{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    flex-direction: column;
}



.section9 img{
    width: 100%;
}

.titulo1{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-top: 20px;
    }

.titulo1 h1{
    font-size: 20px;
}

.titulos{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.oferta10{
    padding-top: 80px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.form-contacto{
    color: #b2b2b2;
    background: #333333;
    width: 600px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    margin-bottom: 100px;
 }

.form-contacto h2{
    font-size: 30px;
    margin-bottom: 20px;
 }

.controls{
    color: #b2b2b2;
    width: 100%;
    background-color: #1d1d1f;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 18px;
 }

.section10{
    display: flex;
    padding-bottom: 80px;
    flex-direction: column-reverse;
}

.form-contacto p{
    height: 20px;
    text-align: center;
    font-size: 18px;
 }

 .form-contacto a{
    color: white;
    text-decoration: none;
 }

.form-contacto a:hover{
    color: white;
    text-decoration: underline;
 }

.textarea{
    color: white;
    background: #24303c;
    border: 1px solid #ffffff;
    font-size: 15px;
    width: 340px;
    height: 100px;
 }
 
.form-contacto .botons{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: #b2b2b2;
    margin: 16px 0;
    font-size: 16px;
 }


.opciones{
    margin-bottom: 25px;
    margin: 0px 6px 12px 0px;
 }
 
footer .container-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
 }

 footer .box-footer a{
    color: #b2b2b2;
    padding: 10px;
 }
 
 footer .box-footer h2{
    margin-bottom: 30px;
    margin-left: 40px;
 }
 
 .container-footer h1{
    padding-top: 20px;
 }
 
 .terminos{
    padding-top: 20px;
 }
 
 .terminos a{
    color: #b2b2b2;
 }
 
 iframe{
     width: 100%;
 }

 

 @media screen and (min-width:768px){
    .body1{
        width: 70%;
    }
    
/*----INDEX MOBILE------*/


    header{   
        justify-content: space-around;
        flex-direction: row; 
        text-align: center;
    }
    .section1{
        flex-direction: row;
    }
    .section2{
        flex-direction: row;
    }
    .section3{
        flex-direction: row;
    }
    .section4{
        flex-direction: row;
    }
    footer{
        flex-direction: row;
    }

    .titulo1 h1{
        font-size: 50px;
   }
    
    .section9 img{
        width: 100%;
    }

    .section10{
        padding-bottom: 80px;
        flex-direction: row;
    }
    iframe{
        width: 100%;
    }
    
 }
 @media screen and (min-width:1440px){
    .oferta1-ip{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
 }
 @media screen and (min-width:1024px){
    .section9{
        justify-content: center;
        flex-direction: row;
        padding-bottom: 70px;
    }
 }
